@page "/assembly"
@using BlazorMonaco.Editor;
@using asm.Asm;
@inject Emulator emulator
<PageTitle>Assembly</PageTitle>


<MudCard>
	<MudCardContent>
		<div class="d-flex">
			<StandaloneCodeEditor Id="my-editor-instance-id" ConstructionOptions="EditorConstructionOptions" @ref="codeEditor" />
		</div>
		
	
		    <MudButton @onclick="async ()=>await LoadProgram()" >Load</MudButton>
		
			<MudButton @onclick="()=>emulator.Run()">Run</MudButton>
		
		
		
    </MudCardContent>

</MudCard>

@code {
	StandaloneCodeEditor codeEditor;




	private List<string> elements = new List<string> { "a", "b" };

	private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
	{
		return new StandaloneEditorConstructionOptions
			{
				AutomaticLayout = true,
				Language = "plaintext",
				LineHeight=30,
				Value= @"MOV R3,100
#LOOP CMP R3,10
BEQ #START
BRA #END
#START OUT R3,2
SUB R3,1
BRA #LOOP
#END HLT"
			};
	}

	private async Task LoadProgram()
	{
		await Task.Delay(1000);
		emulator.LoadEmulator(await codeEditor.GetValue());
	}



	
}
